In [14]:
lnames = ["Akash", "Aman", "Dev", "Prince", "Sita"]

In [15]:

for name in lnames:
  print(name, name[0])

Akash A
Aman A
Dev D
Prince P
Sita S

WAP to print only those numbers ehich have their 2nd last digit as a multiple of 2
l = [758, 12, 9783, 425, 48,4]

In [3]:
l = [758, 12, 9783, 425, 48,4]

In [4]:
for num in l:
  firstDigit = num // 10
  SecondLastDigit = firstDigit % 10
  if SecondLastDigit % 2 == 0 and firstDigit != 0:
    print(num)

9783
425
48

In [7]:
for num in l:
  snum = str(num)
  if len(snum) > 1 :
    last2 = snum[-2]
    ilast2 = int(last2)
    if ilast2 % 2 ==0 :
      print (num)

9783
425
48

In [ ]:
list(range(1, 10)) # Example of a range function

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
for i in range(5):
  print(i)

0
1
2
3
4

In [18]:
for i in range(len(lnames)):
  name  = lnames[i]
  if name[0] in "aeiouAEIOU":
    print(name)

Akash
Aman

WAP to print all the squares of first n natural number. Take n as input

In [22]:
num = int(input("Enter a number: "))
num1 = num + 1
for i in range(1,num1):
  square = i ** 2
  print(f"The square of {i} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

l = [[3,9], [8,16], [4,16], [1,1]]
### WAP to print those lists in which the 2nd elements is a square of the first element

In [27]:
l = [[3,9], [8,16], [4,16], [1,1]]

for i in l:
  if i[0]**2 == i[1]:
    print(i)

[3, 9]
[4, 16]
[1, 1]

l = [74, 'hi', 'hello', 45, 23, 12]
### WAP to print the count of numerical values in the list

In [30]:
l = [74, 'hi', 'hello', 45, 23, 12]
count = 0

for i in l:
  if type(i) == int:
    count += 1
print(count)

4

l = [74, 'hi', 'hello', 45, 23 , 12, 71, 85, 24, '10']
### WAP to print those elements for which the index is either multiple of 3 or 7

In [31]:
l = [74, 'hi', 'hello', 45, 23 , 12, 71, 85, 24, '10']

In [32]:
for i in range(len(l)):
  if i % 3 == 0 or i % 7 == 0:
    print(l[i])

74
45
71
85
10

WAP to print the input is prime or not.

In [ ]:
num = int(input("Enter a number: "))
if num <= 1:
  print(f"{num} is a prime number")
elif num > 1:
  for i in range(2, num):
    if (num % i) == 0:
      print(f"{num} is not a prime number")
      break
    else:
      print(f"{num} is a prime number")

4 is not a prime number